html {
    min-height: 100%;
    margin: 0px auto;
    max-width: 1024px;
    border-left: 2px solid #34495E;
    border-right: 2px solid #34495E;
}

header {
    background: #34495E;
    border-bottom: 2px solid #1ABC9C;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

button.toTheLeft {
    float: left;
    margin: 5px;
}

button.toTheRight {
    float: right;
    margin: 5px;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
}

.mask > div {
    height: 150px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -75px;
    background: black;
    color: white;
    border-radius: 6px;
    padding: 35px 12px;
    text-align: center;
}

article ul {
    padding: 0;
    list-style: none;
}

article.home {
    padding: 50px 20px;
}
article.home .imageContainer {
        text-align: center;
        padding-bottom: 50px;
    }

@media (min-width: 768px) {
    article.home .imageContainer {
        text-align: right;
    }    
}

article.main {
    padding: 20px;
}
article.main button.btn-primary, article.main button.btn-danger, article.main button.btn-warning {
    display: block;
    width: 100%;
    margin: 10px 0px;
}
article.main div.form-group {
    margin: 2px 0;
}
article.main div.btn {
    width: 100%;
    margin-bottom: 10px;
}

/** List page **/
article.list {
    padding: 20px;
}
article.list div.title + div {
    text-align: center;
    color: white;
    padding-top: 5px;
}
article.list .leftItems {
    color: #34495e;
    position: relative;
    top: -10px;
}
article.list ul {
    border-radius: 6px;
    overflow: hidden;
    margin: 0;
}
article.list li > label {
    width: 100%;
    margin: 0;
}
article.list input[type="checkbox"] {
    display: none;
}
article.list input[type="checkbox"] + span {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    background: #1abc9c;;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #16A085;
    cursor: pointer;
}
article.list input[type="checkbox"]:checked + span {
    color: #BDC3C7;
    background: #e6e8ea;;
    text-decoration: line-through;
    border-bottom: 2px solid #BDC3C7;
}
article.list div.fui-cross {
    margin-left: 19px;
    margin-top: 10px;
}
article.list .editOn {
    background: #16A085;
    margin-bottom: 10px;
    color: white;
}

/** Edition **/
button.fui-plus:before {
    margin-right: 10px;
    content: "\e009";
}

div.fui-cross {
    content: "\e00b";
    float: left;
    font-size: 1.5em;
    line-height: 1;
}

div.editOn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}

div.urgency-danger {
    background-color: #e74c3c;
    color: white;
}
div.urgency-warning {
    background-color: #f1c40f;
    color: white;
}
div.urgency-primary {
    background-color: #1abc9c;
    color: white;
}

/**Horizontal inline radio buttons*/

div.horizontal-radio {
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    background: #2980B9;
}

label.radio-inline {
    display: inline-block;
    width: 70px;
    padding-left: 0;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
}

label.radio-inline + label.radio-inline {
    margin: 0 0 0 2px;
}

label.radio-inline input[type="radio"] {
    display: none;
}

label.radio-inline input[type="radio"] + span {
    background: #3498DB;
    text-align: center;
    width: 100%;
    display: inline-block;
}

label.radio-inline input[type="radio"]:checked + span {
    background: #2980B9;
}

.form-horizontal .radio-inline {
    padding: 0;
}

/**Display*/

.notDisplayed {
    display: none;
}

.displayed {
    display: block;
}